<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <application>
    <receiver
      android:name="expo.modules.widgetbridge.widget.DepthlyWidgetSmallReceiver"
      android:exported="true"
      android:label="@string/widget_label_small">
      <intent-filter>
        <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
      </intent-filter>
      <meta-data
        android:name="android.appwidget.provider"
        android:resource="@xml/depthly_widget_small_info"/>
    </receiver>

    <receiver
      android:name="expo.modules.widgetbridge.widget.DepthlyWidgetMediumReceiver"
      android:exported="true"
      android:label="@string/widget_label_medium">
      <intent-filter>
        <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
      </intent-filter>
      <meta-data
        android:name="android.appwidget.provider"
        android:resource="@xml/depthly_widget_medium_info"/>
    </receiver>

    <activity
      android:name="expo.modules.widgetbridge.widget.config.PositionPickerActivity"
      android:exported="true"
      android:theme="@android:style/Theme.Translucent.NoTitleBar">
      <intent-filter>
        <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
      </intent-filter>
    </activity>
  </application>
</manifest>
